definition.json
{"name":"0ba7a084-822c-4f63-bc7a-ebeb21e690ab","id":"/providers/Microsoft.Flow/flows/0ba7a084-822c-4f63-bc7a-ebeb21e690ab","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Claim Approval Routing Flow(Excel + Approvals)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"9c4a0993-8071-463d-b3b8-6f798ab30de9","type":"User","tenantId":"7f8259c4-c491-47f5-a5e5-a99f5326b976"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-02-19T00:07:04.503671Z","connectionKeySavedTimeKey":"2026-02-19T00:07:04.503671Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"01YCPFHL7EXRLB3BFIEJELU4C5WHAYRWXA":"/claims/ClaimsData.xlsx.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}"},"type":"Request","kind":"ApiConnection","inputs":{"operationId":"GetRawAndFormattedTableSchema","parameters":{"source":"me","drive":"b!nCNDVIbLfEqWxJGAa_A19eI0oDyZPNRCr1dfS_593lfY_N93_xhvTrosAH7RseeS","file":"01YCPFHL7EXRLB3BFIEJELU4C5WHAYRWXA","table":"{00000000-000C-0000-FFFF-FFFF00000000}","formattedPostfix":"Formatted"},"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"properties":{"Amount":{"title":"Amount","type":"any"},"ClaimID":{"title":"ClaimID","type":"any"},"MemberName":{"title":"MemberName","type":"any"},"Status":{"title":"Status","type":"any"}},"type":"object","required":[]}}}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_excelonlinebusiness']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-centralus-01.azure-apim.net/apim/excelonlinebusiness"}}}}},"actions":{"Condition":{"actions":{"Start_and_wait_for_an_approval":{"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Manager","WebhookApprovalCreationInput/assignedTo":"vooram@mail.sacredheart.edu","WebhookApprovalCreationInput/details":"claims:\nClaimID:@{triggerBody()?['entity']['ClaimID']}\nMember Name:@{triggerBody()?['entity']['MemberName']}\nAmount: $@{triggerBody()?['entity']['Amount']}\nStatus:@{triggerBody()?['entity']['Status']}","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_1":{"actions":{"For_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_a_row":{"runAfter":{"Compose_DecisionOn_EST":["Succeeded"]},"metadata":{"01YCPFHL7EXRLB3BFIEJELU4C5WHAYRWXA":"/claims/ClaimsData.xlsx.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!nCNDVIbLfEqWxJGAa_A19eI0oDyZPNRCr1dfS_593lfY_N93_xhvTrosAH7RseeS","file":"01YCPFHL7EXRLB3BFIEJELU4C5WHAYRWXA","table":"{00000000-000C-0000-FFFF-FFFF00000000}","idColumn":"ClaimID","id":"@triggerBody()?['entity']['ClaimID']","item/Status":"Approved","item/ApproverEmail":"@items('For_each')?['responder/email']","item/DecisionOn":"@outputs('Compose_DecisionOn_EST')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_DecisionOn_EST":{"type":"Compose","inputs":"@formatDateTime(\n  convertTimeZone(\n    body('Start_and_wait_for_an_approval')?['responses']?[0]?['responseDate'],\n    'UTC',\n    'Eastern Standard Time'\n  ),\n  'MM/dd/yyyy hh:mm tt'\n)"}},"type":"Foreach"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"For_each_3":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_a_row_1":{"runAfter":{"Compose_1":["Succeeded"]},"metadata":{"01YCPFHL7EXRLB3BFIEJELU4C5WHAYRWXA":"/claims/ClaimsData.xlsx.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!nCNDVIbLfEqWxJGAa_A19eI0oDyZPNRCr1dfS_593lfY_N93_xhvTrosAH7RseeS","file":"01YCPFHL7EXRLB3BFIEJELU4C5WHAYRWXA","table":"{00000000-000C-0000-FFFF-FFFF00000000}","idColumn":"ClaimID","id":"@triggerBody()?['entity']['ClaimID']","item/Status":"Rejected","item/ApproverEmail":"@items('For_each_3')?['responder/email']","item/DecisionOn":"@outputs('Compose_1')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_1":{"type":"Compose","inputs":"@formatDateTime(\n  convertTimeZone(\n    body('Start_and_wait_for_an_approval')?['responses']?[0]?['responseDate'],\n    'UTC',\n    'Eastern Standard Time'\n  ),\n  'MM/dd/yyyy hh:mm tt'\n)\n"}},"type":"Foreach"}}},"expression":{"and":[{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]}]},"type":"If"}},"runAfter":{},"else":{"actions":{"Start_and_wait_for_an_approval_1":{"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Supervisor","WebhookApprovalCreationInput/assignedTo":"vooram@mail.sacredheart.edu","WebhookApprovalCreationInput/details":"claims:\nClaimID:@{triggerBody()?['entity']['ClaimID']}\nMember Name:@{triggerBody()?['entity']['MemberName']}\nAmount: $@{triggerBody()?['entity']['Amount']}\nStatus:@{triggerBody()?['entity']['Status']}","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_2":{"actions":{"For_each_2":{"foreach":"@outputs('Start_and_wait_for_an_approval_1')?['body/responses']","actions":{"Update_a_row_2":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"01YCPFHL7EXRLB3BFIEJELU4C5WHAYRWXA":"/claims/ClaimsData.xlsx.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!nCNDVIbLfEqWxJGAa_A19eI0oDyZPNRCr1dfS_593lfY_N93_xhvTrosAH7RseeS","file":"01YCPFHL7EXRLB3BFIEJELU4C5WHAYRWXA","table":"{00000000-000C-0000-FFFF-FFFF00000000}","idColumn":"ClaimID","id":"@triggerBody()?['entity']['ClaimID']","item/Status":"Approved","item/ApproverEmail":"@items('For_each_2')?['responder/email']","item/DecisionOn":"@outputs('Compose_2')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_2":{"type":"Compose","inputs":"@formatDateTime(\n  convertTimeZone(\n    body('Start_and_wait_for_an_approval_1')?['responses']?[0]?['responseDate'],\n    'UTC',\n    'Eastern Standard Time'\n  ),\n  'MM/dd/yyyy hh:mm tt'\n)\n"}},"type":"Foreach"}},"runAfter":{"Start_and_wait_for_an_approval_1":["Succeeded"]},"else":{"actions":{"For_each_1":{"foreach":"@outputs('Start_and_wait_for_an_approval_1')?['body/responses']","actions":{"Update_a_row_3":{"runAfter":{"Compose_3":["Succeeded"]},"metadata":{"01YCPFHL7EXRLB3BFIEJELU4C5WHAYRWXA":"/claims/ClaimsData.xlsx.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!nCNDVIbLfEqWxJGAa_A19eI0oDyZPNRCr1dfS_593lfY_N93_xhvTrosAH7RseeS","file":"01YCPFHL7EXRLB3BFIEJELU4C5WHAYRWXA","table":"{00000000-000C-0000-FFFF-FFFF00000000}","idColumn":"ClaimID","id":"@triggerBody()?['entity']['ClaimID']","item/Status":"Rejected","item/ApproverEmail":"@items('For_each_1')?['responder/email']","item/DecisionOn":"@outputs('Compose_3')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_3":{"type":"Compose","inputs":"@formatDateTime(\n  convertTimeZone(\n    body('Start_and_wait_for_an_approval_1')?['responses']?[0]?['responseDate'],\n    'UTC',\n    'Eastern Standard Time'\n  ),\n  'MM/dd/yyyy hh:mm tt'\n)\n"}},"type":"Foreach"}}},"expression":{"and":[{"equals":["@outputs('Start_and_wait_for_an_approval_1')?['body/outcome']","Approve"]}]},"type":"If"}}},"expression":{"and":[{"greater":["@triggerBody()?['entity']['Amount']",5000]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-093ee511-e425-4274-890b-806f23255856","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_approvals":{"connectionName":"shared-approvals-56117986-ebad-43c6-a77a-d80b9b6ee662","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified","apiName":"approvals","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}